In [1]:
import pandas as pd

file_1 = "AS218_variants.txt"
file_2 = "AS219_variants.txt"
column_names = ["Sample", "Chromosome", "Position", "Ref Allele", "Alt Allele", "Allele Frequency"]


df1 = pd.read_csv(file_1,sep="\t",header = None,names=column_names)
df2 = pd.read_csv(file_2,sep="\t",header = None,names=column_names)
df1small = df1.head(1000)
df2small = df2.head(1000)
df2test = df2small.iloc[:,]
display(df2test)
dfs = pd.merge(df1small,df2small, on="Position", how="outer")
dfs

    Sample     Chromosome  Position Ref Allele Alt Allele  Allele Frequency
0    AS219  NZ_CP020397.1         6          G          T          0.008403
1    AS219  NZ_CP020397.1        49          G          A          0.005882
2    AS219  NZ_CP020397.1        51          A          G          1.000000
3    AS219  NZ_CP020397.1        93          G          C          0.004587
4    AS219  NZ_CP020397.1        94          T          C          0.004673
..     ...            ...       ...        ...        ...               ...
995  AS219  NZ_CP020397.1     11319          G          A          0.003300
996  AS219  NZ_CP020397.1     11325          A          C          0.003300
997  AS219  NZ_CP020397.1     11330          G          A          0.003425
998  AS219  NZ_CP020397.1     11338          T          C          0.003448
999  AS219  NZ_CP020397.1     11339          T          G          0.003448

[1000 rows x 6 columns]

,Sample_x,Chromosome_x,Position,Ref Allele_x,Alt Allele_x,Allele Frequency_x,Sample_y,Chromosome_y,Ref Allele_y,Alt Allele_y,Allele Frequency_y
0,AS218,NZ_CP020397.1,27,T,C,0.006667,NaN,NaN,NaN,NaN,NaN
1,AS218,NZ_CP020397.1,51,A,G,0.988571,AS219,NZ_CP020397.1,A,G,1.000000
2,AS218,NZ_CP020397.1,71,G,T,0.004762,NaN,NaN,NaN,NaN,NaN
3,AS218,NZ_CP020397.1,91,A,G,0.004255,NaN,NaN,NaN,NaN,NaN
4,AS218,NZ_CP020397.1,113,G,A,0.003906,AS219,NZ_CP020397.1,G,A,0.004367
...,...,...,...,...,...,...,...,...,...,...,...
1827,NaN,NaN,11319,NaN,NaN,NaN,AS219,NZ_CP020397.1,G,A,0.003300
1828,NaN,NaN,11325,NaN,NaN,NaN,AS219,NZ_CP020397.1,A,C,0.003300
1829,NaN,NaN,11330,NaN,NaN,NaN,AS219,NZ_CP020397.1,G,A,0.003425
1830,NaN,NaN,11338,NaN,NaN,NaN,AS219,NZ_CP020397.1,T,C,0.003448
1831,NaN,NaN,11339,NaN,NaN,NaN,AS219,NZ_CP020397.1,T,G,0.003448

In [2]:
from functools import reduce
import os
import pandas as pd

column_names = ["Sample", "Chromosome", "Position", "Ref Allele", "Alt Allele", "Allele Frequency"]
df_list = []
for file in os.listdir("/Users/johnnavarro/AS_variants_list"):
    if file.endswith("_variants.txt"):
        df_list.append(pd.read_csv(file,sep="\t",header=None,names=column_names).head(1000))

In [5]:
%%timeit
combinethem = lambda d1,d2: pd.merge(d1,d2,on="Position", how="outer")
dfs1 = reduce(combinethem,df_list)
# dfs1.to_excel("AS_list1.xlsx")

681 ms ± 16.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [6]:
%%timeit
dfs2 = df_list[0]
for df in df_list[1:]:
    dfs2 = pd.merge(dfs2,df,on="Position", how="outer")
# display(dfs2)

675 ms ± 4.75 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)